# Large datasets
MRI-CT-Dataset/
pytorch-CycleGAN-and-pix2pix/MRI-CT-Dataset/

# Model checkpoints and results (too large for git)
checkpoints/
pytorch-CycleGAN-and-pix2pix/checkpoints/
results/
pytorch-CycleGAN-and-pix2pix/results/

# Training data
small_sample/
pytorch-CycleGAN-and-pix2pix/small_sample/

# preprocessed data
*.npz

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# ai
wandb
checkpoints

# mri volumes and model weights
*.mha
*.pth
*.pt

# training data
*.zip
synthRAD2025_Task1_Train/
synthRAD2025_Task2_Train/
SynthRAD_standardized/
