# general
.venv/
venv/
.DS_Store
__pycache__

# ai
wandb
checkpoints

# mri volumes and model weights
*.mha
*.pth

# training data
*.zip
synthRAD2025_Task1_Train/
synthRAD2025_Task2_Train/

demo.sh
demo2.sh
